
    body{
        /*background-color: rgba(70, 67, 67, 0.534);*/
       
        margin: 0;
    }
    div{
        background-image: url("https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?cs=srgb&dl=pexels-chris-f-1283219.jpg&fm=jpg");
        background-position: center;
        padding: 10px;
        text-align: center;
        
    }


    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:black;
    }

    li {
        float: left;
    }
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration:none;
    }

    li a:hover{
        background-color:purple;
    }
     
    .active {
        background-color:red;
    }
    table, td, th {
        border: 1px solid black;
    }

    table {
        width: 50%;
        border-collapse: collapse;
    }
    td, th {
        padding: 8px;
    }
    th {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: white;
        background-color: rgb(139, 46, 153);
    }
    td{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: hsl(hue, saturation, lightness);
    }
    tr:hover {
        background-color: violet;
    }